{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" type="stylesheet" href="">
  <link rel="stylesheet" href="">
  <meta charset="UTF-8">
  <meta name="keywords" content="کاربران،تصویر،صوت،فیلم،pdf،آپلود،وب سایت،موسیقی،اشتراک،گذاری،علاقمندان،راهنما">
  <meta name="description" content="کاربران علاقمندان به موسیقی میتوانند فایل های خودشان با توسط آپلود صوت تصویر فیلم فایل متنی در وب سایت موسیقی آپلود کنند همچنان فایل راهنما در اختیار کاربران قرارخواهد گرفت.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>موسیقی</title>
<style>
  .main{
    background-color:purple;
    color:wheat;
    border:2px solid black; 
    padding: 20px;
    margin: 20px;
    text-align:center;
  }
</style>
</head>
<body>
  <header>
    <form action="{% url 'upload' %}">
<input type="text" name="search" placeholder="جستجو">
<input type="submit" value="جستجو">
    </form>
    <div style="text-align:center;">
      &nbsp;
      <a href="#">خانه</a>
      &nbsp;
      &nbsp;
      &nbsp;
      <a href="{% url 'upload' %}">صفحه اصلی</a>
      &nbsp;
      &nbsp;
      &nbsp;
      <a href="{% url 'support' %}">پشتبانی</a>
      &nbsp;
      &nbsp;
      &nbsp;
      <a href="{% url 'username' %}">تماس با ما</a>
      &nbsp;
    </div>
  </header>
  <div class="main">
    <b>موسیقی</b>
    <img src="{% static 'images/s.jpg' %}" alt="image" width="10%" height="120px" style="float:right;">
     </div>
</body>
</html>